# Entorno virtual
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# IDEs y editores
.idea/
.vscode/
*.swp
*.swo

# Logs y bases de datos
*.log
*.sqlite3

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de configuración sensibles
sett.py 